@inject SQLiteManager _db
@inject NavigationManager navMan
@inject IJSRuntime jsMan

<MudCard Elevation="4" Class="mx-2" Style="min-width: 18rem; max-width:22%">
    <MudCardHeader>
        <CardHeaderAvatar>
            @if(SpielKarte.Kommentar.Commented)
            {
                <MudAvatar Elevation=1 Color="Color.Success"><MudIcon Icon="@Icons.Material.Filled.MarkChatRead" /></MudAvatar>
            }
        </CardHeaderAvatar>

        <CardHeaderContent>
            <MudText Typo="Typo.button">@SpielKarte.Name</MudText>
        </CardHeaderContent>

        <CardHeaderActions>
            <MudIconButton Href="@HrefGameEditUrl()" Icon="@Icons.Material.Filled.Settings" Color="Color.Dark" />
        </CardHeaderActions>

    </MudCardHeader>

    <MudImage Class="rounded-1" Elevation=1 Fluid="true" Src="@SpielKarte.Bildlink" />

    <MudCardContent>
        <MudText Class="pb-1" Typo="Typo.body2">@SpielKarte.Beschreibung</MudText>
        <MudDivider DividerType="DividerType.Middle" />

        <div class="pt-1">
            @if (MauiProgram.Einstellungen.Usepricescraper)
            {
                <MudText Typo="Typo.body2">Price (game/dlcs): @SpielKarte.Estimatedprice</MudText>
            }
            <div>
                <MudDivider DividerType="DividerType.Middle" />

                @if(SpielKarte.Sterne != 0)
                {
                    <MudText Typo="Typo.body2">Stars: <SterneDarstellung Sterne="SpielKarte.Sterne" /></MudText>
                } else
                {
                    <MudText Typo="Typo.body2">Stars: None</MudText>
                }
                <MudText Typo="Typo.subtitle2"><small>@SpielKarte.SterneTooltip</small></MudText>
                <MudDivider DividerType="DividerType.Middle"/>
            </div>
            
            @if (SpielKarte.Genrelist.Length == 0)
            {
                <MudText Typo="Typo.body2">Genre: None</MudText>
            } else
            {
                <MudText Typo="Typo.body2">Genre: @string.Join(',', Manager.GenreArrayToStringArray(SpielKarte.Genrelist))</MudText>
            }
            <MudDivider DividerType="DividerType.Middle" />
        </div>

    </MudCardContent>

    <MudCardActions Class="justify-content-center">
        <MudIconButton OnClick="@(e => Manager.StartExe(SpielKarte.Exepfad))" Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Success" />
        <MudIconButton OnClick="SpielLoeschen" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" />
        @if(SpielKarte.Fav == 1)                                                                                                                     
        {
            <MudIconButton OnClick="@(() => FavoritSetzen(false))" Icon="@Icons.Material.Filled.ThumbDown" Color="Color.Surface" />
        } else
        {
            <MudIconButton OnClick="@(() => FavoritSetzen(true))" Icon="@Icons.Material.Filled.ThumbUp" Color="Color.Surface" />
        }          
        <MudIconButton OnClick="ShowBewertenModal" Icon="@Icons.Material.Filled.Star" Color="Color.Warning" />
        <MudIconButton OnClick="ShowKommentarModal" Icon="@Icons.Material.Filled.ChatBubbleOutline" Color="Color.Primary" />
    </MudCardActions>

</MudCard>