<div class="top-row pl-4 navbar navbar-dark">
    <MudText Typo="Typo.h6" class="navbar-brand mx-auto">BlazorLibrary</MudText>
    <MudButton class="navbar-toggler" OnClick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </MudButton>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MudList Style="color:white;">

        @if (Manager.ActiveLibraryUser != null) {
            <MudListItem Class="px-3">
                <MudNavLink IconColor="Color.Primary" Icon="@Icons.Material.Filled.SettingsApplications" Href="settings" Match="NavLinkMatch.All">Settings</MudNavLink>
            </MudListItem>
        }

        <MudListItem Class="px-3">
            <MudNavLink IconColor="Color.Primary" Icon="@Icons.Material.Filled.Home" Href="" Match="NavLinkMatch.All">Start</MudNavLink>
        </MudListItem>

        @if(Manager.ActiveLibraryUser != null)
        {
            <MudListItem Class="px-3">
                <MudNavLink IconColor="Color.Primary" Icon="@Icons.Material.Filled.Folder" Href="games" Match="NavLinkMatch.All">Library</MudNavLink>
            </MudListItem>

            <MudListItem Class="px-3">
                <MudNavLink IconColor="Color.Primary" Icon="@Icons.Material.Filled.ExposurePlus1" Href="addgame" Match="NavLinkMatch.All">Add a game</MudNavLink>
            </MudListItem>

            <MudListItem Class="px-3">
                <MudNavLink IconColor="Color.Primary" Icon="@Icons.Material.Filled.Book" Href="genres" Match="NavLinkMatch.All">Genres</MudNavLink>
            </MudListItem>

            <MudListItem Class="px-3">
                <MudNavLink IconColor="Color.Primary" Icon="@Icons.Material.Filled.FileUpload" Href="fileimport" Match="NavLinkMatch.All">Fileimport</MudNavLink>
            </MudListItem>

            <MudListItem Class="px-3">
                <MudNavLink IconColor="Color.Primary" Icon="@Icons.Material.Filled.DeleteSweep" Href="trashcan" Match="NavLinkMatch.All">Trashcan</MudNavLink>
            </MudListItem>
        }

        <MudListItem Class="px-3">
            <MudNavLink IconColor="Color.Warning" Icon="@Icons.Material.Filled.Lightbulb" Href="todo" Match="NavLinkMatch.All">To-Do</MudNavLink>
        </MudListItem>

    </MudList>
</div>